@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,600;1,400&family=Saira+Condensed:wght@600&display=swap');

* {
  box-sizing: border-box;
}

::selection, ::-moz-selection {
    background: var(--color-selection);
    color: var(--color-fg);
    text-shadow: none;
}

:focus {
  outline: 2px solid;
  border-radius: .var(--border-radius);
  outline-color: var(--color-secondary);
  z-index: 1;
}

html {
  font-family: var(--font-family-copy);
  font-size: 16px;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  min-width: 280px;
  min-height: 100vh;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

hr {
  background-color: var(--color-fg);
  height: 1px;
  border: 0;
  margin: 1rem 0;
}
